<div class="page-header">
  <h1>Favorite #<%= @favorite.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Profile</dt>
  <dd><%= @favorite.profile_id %></dd>

  <dt>School</dt>
  <dd><%= @favorite.school_id %></dd>

  <dt>Region</dt>
  <dd><%= @favorite.region_id %></dd>

</dl>
