<!DOCTYPE html>
<html>
<head>
  <title>Your Application: First Screen</title>
</head>
<body>
  <div class="container">
    <div class="col-md-12">



      <div class="row">
        <p class="col-md-8">College is a big step in life and one of the most important decisions you will make as you continue your education. There is a lot of research that goes into picking the right school, but here at Creative College Search we make your job a lot easier. Here you will have the power to find schools based on rankings, regions, amount of scholarships given, and test scores. You can save your favorite schools to your profile along with your own personal preferences and we will suggest schools based on what's important to you to help you make the best decision. Make your research easy and fun and start by creating your own profile.</p>

        <p class="col-md-4"><img src="http://static.panoramio.com/photos/small/39629269.jpg"> </p>
      </div>

      <div class="row">

        <p id="categories" class="col-lg-8"> Categories</p>
        <p class="col-lg-2"></p>
      </div>

          <div class="buttons">
              <p class="col-md-6"> <span class="label label-danger"> Ranks <i class="fa fa-line-chart"></i></span></p>
              <p class="col-md-6"> <span class="label label-primary"> Regions <i class="fa fa-globe"></i> </span></p>

              <p class="col-md-6">
                <span class="label label-success">Scholarships <span class="glyphicon glyphicon-usd"></span></span>
              </p>

              <p class="col-md-6">
                <span class="label label-warning">Test Scores <span class="glyphicon glyphicon-pencil"></span></span>
              </p>

          </div>
<!--
        <div class="btn-group"> <!-- Wrapping a set of <a> tags with btn classes in a <div> of class btn-group joins them together into a bar -->
 <!--         <a href="first_screen.html" class="btn btn-primary">
            <i class="fa fa-external-link"></i> <!-- Example of how to use Font Awesome icons; often, we use them as text within buttons -->
  <!--          Show
         </a>
          <a href="second_screen.html" class="btn btn-warning">
          <i class="fa fa-edit"></i>
            Edit
          </a>
          <a href="third_screen.html" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
            Delete
        </a>
        -->




        </div>

      </div>
    </div>
  </div>
</body>
</html>
