<h4>These are schools recommended based on your preferences</h4>

<p>
 <% @region_size_schools.each do |school| %>
   <a href="/schools/<%= school.id %>"><p><%= school.name %></p></a>
 <% end %>
</p>
