<h1>Percentage of Students Receiveing Financial Aid</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Percent with Financial Aid</th>
      <th>School</th>
    </tr>
  </thead>
  <tbody>
   <% @schools.each do |school| %>
    <tr class="active">
      <td><%= school.Percent_with_Financial_Aid    %></td>
      <td><a href="/schools/<%= school.id %>"><%= school.name %></a></td>
    </tr>
  <% end %>
  </tbody>
</table>
