<h2>School Rankings</h2>

<d>Rankings as repoted in Forbes</d>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Rankings</th>
      <th>School</th>
    </tr>
  </thead>
  <tbody>
   <% @schools.each do |school| %>
    <tr class="active">
      <td><%= school.Rank_Forbes     %></td>
      <td><a href="/schools/<%= school.id %>"><%= school.name %></a></td>
    </tr>
  <% end %>
  </tbody>
</table>
