<h2>Where Do You Want to Study?</h2>

<d>Take a look at schools in your favorite regions</d>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/regions/northeast">Northeast</a></h3>
  </div>
  <div class="panel-body">
    The Northeast is home to some of the most prestigous schools in the U.S. States in this region include Massachusetts, New Hampshire, Vermont, Connecticut, Maine, Rhode Island, New Jersey, New York, and Pennsylvania
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/regions/south">South</a></h3>
  </div>
  <div class="panel-body">
    Home to some of the best weather this weather includes North Carolina, South Carolina, Georgia, Florida, Virginia, West Virginia, Delaware, D.C., Maryland, Alabama, Kentucky, Arkansas, Mississippi, Tennessee, Louisiana, Oklahoma, and Texas
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/regions/midwest">Midwest</a></h3>
  </div>
  <div class="panel-body">
    Colder climate that's ideal for winter wonderlands. States here inlcude Indiana, Illinois, Michigan, Ohio, Wisconsin, Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, and South Dakota
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/regions/west">West</a></h3>
  </div>
  <div class="panel-body">
    A mix of every weather climate with mountains. Arizona, Colorado, Idaho, New Mexico, Montana, Utah, Nevada, Wyoming, Alaska, California, Hawaii, Oregon, and Washington
  </div>
</div>
