<h2>Where Do You Want to Study?</h2>

<d>Take a look at schools in your favorite regions</d>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/regions/northeast">Northeast</a></h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/regions/south">South</a></h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/regions/midwest">Midwest</a></h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/regions/west">West</a></h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
