<h2>Where Do You Want to Study?</h2>

<d>Take a look at schools in your favorite regions</d>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Northeast</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">South</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Midwest</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">West</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
