<h2>Test Scores and GPA</h2>

<d>Customize your search based on schools' average exam scores and GPA</d>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>SAT</th>
      <th>ACT</th>
      <th>GPA</th>
      <th>School</th>
    </tr>
  </thead>
  <tbody>
  <% @schools.each do |school| %>
    <tr class="active">
      <td><%= school.SAT %></td>
      <td><%= school.ACT %></td>
      <td><%= school.GPA %></td>
      <td><%= school.name %></td>
    </tr>
  <% end %>

  </tbody>
</table>
